// This works to clean things up but I can't see 
// how to globally force copy or hardlinks for 
// published results so we don't just end up with
// a bunch of broken symlinks

// cleanup.enabled = true

process {

    executor = 'local'
    memory = 1.GB
    cpus = 1

    withLabel: bigMem {
        memory = 4.GB
    }
    

    // We've halved our cpu allocations as slurm
    // assigns tasks (threads) not physical cpus
    // so we over-commit if we use the full number
    // of cpus

    withLabel: multiCore {
        cpus = 2
    }

}


notification {
    enabled = false
}

timeline {
    enabled = true
    overwrite = true
    file = "execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "execution_report.html"
}

